{% extends "base.html" %}
{% load blog_extras %}
{% load cache %}

{% block content %}
    <h2>{{ post.title }}</h2>
    {% row "border-bottom" %}
        <div class="col">
            {% include "blog/post-byline.html" %}
        </div>
    {% endrow %}
    {% row "border-bottom" %}
        <div class="col">
            {{ post.content|safe }}
        </div>
    {% endrow %}
    {% if post.author.profile %}
        {% row %}
            {% col %}
                <h4>About the author</h4>
                <p>{{ post.author.profile.bio }}</p>
            {% endcol %}
        {% endrow %}
    {% endif %}
    {% row "border-bottom mt-3" %}
        {% col %}
            {% include "blog/post-comment.html" %}
        {% endcol %}
    {% endrow %}
    {% if post.hero_image %}
        {% row %}
            {% col %}
                <img src="{{ post.hero_image.url }}" class="img-fluid">
            {% endcol %}
        {% endrow %}
    {% endif %}
    {% row "border-bottom container mt-3"  %}
        <div class="col">
            {% cache 3600 recent_posts post %}
                {% recent_posts post %}
            {% endcache %}
        </div>
    {% endrow %}
{% endblock %}